EMAIL_ADDRESS="...@gmail.com"
EMAIL_APP_PASSWORD="your_gmail_api_password_here"
EMAIL_SMTP_SERVER="smtp.gmail.com"
EMAIL_SMTP_PORT="587"

BINANCE_API_KEY="your_binance_api_key_here"
BINANCE_API_SECRET="your_binance_api_secret_here"

COINGLASS_API_KEY = your_coinglass_api_key_here

GEMINI_API_KEY = AQ.your_gemini_api_key_here
DEEPSEEK_API_KEY=sk-your_deepseek_api_key_here
